.menu--main .nav {

}

	.menu--main .nav_item {
		display: inline-block;
		margin-right: 30px;
	}

		.menu--main .nav_item a {
			font-size: 10px;
			letter-spacing: 5px;
			color: #363636;
			font-weight: bold;
			text-transform: uppercase;
		}